* {
  margin: 0;
  padding: 0;
}

section {
  background-color: rgb(238, 203, 238);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  width: 260px;
  padding: 1rem;
}

.display {
  height: 60px;
  background-color: #eee;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 1.5rem;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
